<form [formGroup]="form" fxLayoutAlign="center" novalidate>
    <mat-list>
        <mat-list-item fxLayoutAlign="center">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </mat-list-item>
        <mat-list-item fxLayoutAlign="center">
            <mat-form-field class="password">
                <input type="password" matInput placeholder="Senha" formControlName="senha" >
            </mat-form-field>
            <span class="toolbar-icon" matTooltip="Senha deve conter ao menos 6 caracteres">
                <mat-icon>help</mat-icon>
            </span>
        </mat-list-item>
        <mat-list-item fxLayoutAlign="center">
            <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="logar()">
                Entrar
            </button>
        </mat-list-item>
        <mat-list-item>
            <a mat-button color="primary" routerLink="/cadastro-pf">Cadastrar-pf</a>
            <a mat-button color="primary" routerLink="/cadastro-pj">Cadastrar-pj</a>
        </mat-list-item>
    </mat-list>
</form>